<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>商品详情</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="stylesheets/common.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/my_swiper.css" rel="stylesheet" type="text/css" />
<!-- js -->
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		//试例
		var starId = ['set_star','set_star01'];
		var starNum = ['3','4']
		for(var i=0;i<starId.length;i++)
		{
			set_star('#'+starId[i],starNum[i]);//id + 默认显示个数
		};
		
		//collect fly 收藏效果
		collectFly();
	});
</script>
<body class="gray_body">
<!-- header_top -->
<section class="container">
	<div class="top_heater">
		<a href="#" title="" class="header_back"></a>
		<div class="header_nav">
			<div>
				<a class="active" href="#" title="">商品详情</a>
				<a href="#" title="">商品参数</a>
				<a href="#" title="">商品评价</a>
			</div>
		</div>
		<a href="#" title="" class="header_car"></a>
	</div>
</section>
<!-- header_top end -->
<!-- index_banner  -->
<div class="index_banner">
	<div class="swiper-container" style="width: 100%;height: 100%;">
	 	<div class="swiper-wrapper">
		    <div class="swiper-slide blue-slide">
		    	<a href="#">	    		
			    	<img src="images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide red-slide">
		    	<a href="#">	    		
			    	<img src="images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide orange-slide">
		    	<a href="#">	    		
			    	<img src="images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide orange-slide">
		    	<a href="#">	    		
			    	<img src="images/banner.png"/>
		    	</a>
		    </div>
		    <div class="swiper-slide orange-slide">
		    	<a href="#">	    		
			    	<img src="images/banner.png"/>
		    	</a>
		    </div>
	  	</div>
	  	<div class="swiper-pagination"></div>
	</div>
	
	<script type="text/javascript">
	  var mySwiper = new Swiper('.index_banner .swiper-container',{
	    loop: true,
		autoplay: 3000,
		pagination : '.index_banner .swiper-pagination'
	  });	
	</script>
</div>		
<!-- swiper////////////////////////////////////////////////////////////////////// -->
<!-- index_banner end -->
<!-- goods_detail -->
<div class="goods_detail">
	<div class="title">
		<h3>虎跃气动钉枪   蚊钉枪虎跃气动钉枪   蚊钉枪</h3>
		<p>P622-A</p>
		<span>￥688.00</span>
		<label>快递：20元</label>
	</div>
	<div class="etail_data">
		<h3>商品参数</h3>
		<p>
			<span>上市时间</span>
			<label>2016-2-5</label>
		</p>
		<p>
			<span>材料成分</span>
			<label>材料成分</label>
		</p>
		<p>
			<span>规格类型</span>
			<label>321</label>
		</p>
		<p>
			<span>功效</span>
			<label>321</label>
		</p>
		<p>
			<span>产地</span>
			<label>火星</label>
		</p>
	</div>
	<div class="detail_evaluta">
		<h3>商品评价</h3>
		<div class="box">
			<div class="top">
				<span>
					<img alt="" src="images/evaluta_title_img.png"/>
				</span>
				<label>老霉童鞋</label>
			</div>
			<div class="center">
				东西收到以后马上查看，发现与图片描述一致，超级喜欢，卖家发货速度很快，，服务也很到位，给老板点个赞，下次还会来购买......
			</div>
			<div class="detail_evaluta_img">
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
			</div>
			<div class="store_stare_box">
				<div id="set_star" class="rich_star">
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
				</div>
				<time>2015-08-04</time>
			</div>
		</div>
		<div class="box">
			<div class="top">
				<span>
					<img alt="" src="images/evaluta_title_img.png"/>
				</span>
				<label>老霉童鞋</label>
			</div>
			<div class="center">
				东西收到以后马上查看，发现与图片描述一致，超级喜欢，卖家发货速度很快，，服务也很到位，给老板点个赞，下次还会来购买......
			</div>
			<div class="detail_evaluta_img">
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
				<span>
					<img alt="" src="images/good03.png"/>
				</span>
			</div>
			<div class="store_stare_box">
				<div id="set_star01" class="rich_star">
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
					<span>
						<img alt="" src="images/star_no.png">
						<img alt="" src="images/star_yes.png">
					</span>
				</div>
				<time>2015-08-04</time>
			</div>
		</div>
	</div>
</div>
<!-- goods_detail end -->
<!-- detail_img -->
<div class="detail_img">
	<img alt="" src="images/detail_img.png"/>
</div>
<!-- detail_img -->
<!-- buy_now -->
<div style="float: left;width:100%;height:0.94rem ;"></div>
<div class="buy_now">
	<a class="tel one" title="">
		<div>
			<span>
				<img alt="" src="images/call.png"/>
			</span>
			<label>客服</label>
		</div>
		<div id="yes_star">
			<span>
				<img alt="" src="images/star_no.png"/>
				<img class="yes" id="yes" alt="" src="images/star_yes.png"/>
			</span>
			<label>收藏</label>
		</div>
	</a>
	<a class="buy two" href="#" title="">立刻购买</a>
	<a class="car two" href="#" title="">加入购物车</a>
</div>
<!-- buy_now end-->
</body>
</html>
