<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>虎跃</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="stylesheets/common.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<!-- js -->
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<script type="text/javascript">

</script>
<body class="gray_body">
<!-- header_top -->
<section class="container">
	<div class="top_heater">
		<a href="#" title="" class="header_back"></a>
		<span>新增收货地址</span>
	</div>
</section>
<!-- header_top end -->
<!-- personage  -->
<ul class="personage">
	<li class="li02">
		<a href="#" title="">
			<label>收货人姓名：</label>
			<input type="text" name="" id="" value="" />
		</a>
	</li>
	<li class="li02">
		<a href="#" title="">
			<label>电话：</label>
			<input type="text" name="" id="" value="" />
		</a>
	</li>
	<li class="li03">
		<a href="#" title="">
			<label>地区：</label>
			<input type="text" name="" id="" value="" />
			<div></div>
		</a>
	</li>
	<li class="li02">
		<a href="#" title="">
			<label>详细地址：</label>
			<input type="text" name="" id="" value="" />
		</a>
	</li>
</ul>
<input class="footer_btn" type="submit" name="" id="" value="新 增" />
<!-- personage end -->
</body>
</html>
