<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>虎跃</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="stylesheets/common.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<!-- js -->
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<script type="text/javascript">

</script>
<body class="gray_body">
<!-- header_top -->
<section class="container">
	<div class="top_heater">
		<a href="#" title="" class="header_back"></a>
		<span>意见反馈</span>
	</div>
</section>
<!-- header_top end -->
<!-- advice  -->
<div class="give_advice">
	<p>送货、退换货及咨询请联系<a>联系客服</a></p>
	<div class="box">
		<h3>我们存在哪些不足</h3>
		<textarea ></textarea>
		<h3>您的联系电话</h3>
		<input type="" name="" id="" value="" />
	</div>
</div>
<!-- advice end -->
<!-- footer -->
<section class="footer">
	<nav>
		<a href="#" title="">
			<span>
				<img alt="" src="images/footer_icon01.png"/>
				<img alt="" src="images/footer_icon11.png"/>
			</span>
			<label>首页</label>
		</a>
		<a href="#" title="">
			<span>
				<img alt="" src="images/footer_icon02.png"/>
				<img alt="" src="images/footer_icon22.png"/>
			</span>
			<label>分类</label>
		</a>
		<a href="#" title="">
			<span>
				<img class="active_img" alt="" src="images/footer_icon03.png"/>
				<img class="disable_img" alt="" src="images/footer_icon33.png"/>
			</span>
			<label class="active_label">购物车</label>
		</a>
		<a href="#" title="">
			<span>
				<img alt="" src="images/footer_icon04.png"/>
				<img alt="" src="images/footer_icon44.png"/>
			</span>
			<label>抽奖</label>
		</a>
		<a href="#" title="">
			<span>
				<img alt="" src="images/footer_icon05.png"/>
				<img alt="" src="images/footer_icon55.png"/>
			</span>
			<label>我</label>
		</a>
	</nav>
</section>
<!-- footer end -->
</body>
</html>
