<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>消息列表</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- css -->
<link href="stylesheets/common.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<!-- js -->
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<body class="body_gray">
<!-- header_top -->
<section class="container">
	<div class="top_heater">
		<a href="#" title="" class="header_back"></a>
		<span>历史记录</span>
		<div class="clear_all">清空</div>
	</div>
</section>
<!-- header_top end -->
<!-- buy_car  -->
<ul class="buy_car">
	<li class="history_box">
		<div class="test">
			<div class="box">
				<img class="history" alt="" src="images/good02.png"/>
				<div class="text">
					<p>蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B</p>
					<span>￥25.26</span>
				</div>
			</div>
		</div>
	</li>
	<li class="history_box">
		<div class="test">
			<div class="box">
				<img class="history" alt="" src="images/good02.png"/>
				<div class="text">
					<p>蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B</p>
					<span>￥25.26</span>
				</div>
			</div>
		</div>
	</li>
	<li class="history_box">
		<div class="test">
			<div class="box">
				<img class="history" alt="" src="images/good02.png"/>
				<div class="text">
					<p>蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B蚊钉枪P622-B</p>
					<span>￥25.26</span>
				</div>
			</div>
		</div>
	</li>
</ul>
<!-- buy_car end -->


</body>
</html>
